@model GestionCentroMedico.Models.Mutual

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <h4>Mutual</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MutNombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MutNombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MutDescripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MutDescripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MutValor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MutValor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MutActivo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MutActivo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MutId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
