@model IEnumerable<GestionCentroMedico.Models.Mutual>

@{
    ViewData["Title"] = "Index";
}

<h1>Mutuales</h1>

<p>
    <a asp-action="Create">Registrar mutual</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Descripción
            </th>
            <th>
                Valor
            </th>
            <th>
                Activo
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MutNombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MutDescripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MutValor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MutActivo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MutId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.MutId">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.MutId">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
