@model GestionCentroMedico.Models.Medico

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Medico</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MedNombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MedNombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MedApellido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MedApellido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MedEspecialidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MedEspecialidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MedMatricula)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MedMatricula)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MedActivo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MedActivo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MedId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
