@model IEnumerable<GestionCentroMedico.Models.Medico>

@{
    ViewData["Title"] = "Index";
}

<h1>Médicos</h1>

<p>
    <a asp-action="Create">Crear nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.MedNombre)*@Nombre
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.MedApellido)*@Apellido
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.MedEspecialidad)*@Especialidad
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.MedMatricula)*@Matricula
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.MedActivo)*@Activo
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MedNombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MedApellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MedEspecialidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MedMatricula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MedActivo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MedId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.MedId">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.MedId">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
