@model GestionCentroMedico.Models.Turno

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <h4>Turno</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Fecha:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TurFecha)
        </dd>
        <dt class = "col-sm-2">
            Valor:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TurValor)
        </dd>
        <dt class = "col-sm-2">
            Pago efectivo:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TurPagoEfectivo)
        </dd>
        <dt class = "col-sm-2">
            Descuenta prepaga:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TurDescuentaPrepaga)
        </dd>
        <dt class = "col-sm-2">
            Cliente
        </dt>
        <dd class = "col-sm-10">
            @Model.Cli.CliApellido @Model.Cli.CliNombre
        </dd>
        <dt class = "col-sm-2">
            Médico:
        </dt>
        <dd class = "col-sm-10">
            @Model.Med.MedApellido @Model.Med.MedNombre
        </dd>
        <dt class = "col-sm-2">
            Mutual:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mut.MutNombre)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.TurId">Editar</a> |
    <a asp-action="Index">Volver</a>
</div>
