@model IEnumerable<GestionCentroMedico.Models.Turno>

@{
    ViewData["Title"] = "Index";
}
<br />
<h1>Turnos</h1>

<p>
    <a asp-action="Create">Crear nuevo turno</a>
</p>

@*<input type="text" id="searchInput" placeholder="Buscar...">

*@
<table class="table" id="tablas">
    <thead>
        <tr>
            <th>
                Fecha
            </th>
            <th>
                Valor del turno
            </th>
            <th>
                Paga efectivo?
            </th>
            <th>
                Descuento prepaga
            </th>
            <th>
                CLiente
            </th>
            <th>
                Medico
            </th>
            <th>
                Prepaga
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TurFecha)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TurValor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TurPagoEfectivo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TurDescuentaPrepaga)
                </td>
                <td>
                    @item.Cli.CliApellido @item.Cli.CliNombre
                </td>
                <td>
                    @item.Med.MedApellido @item.Med.MedNombre
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mut.MutNombre)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.TurId">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.TurId">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.TurId">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@*<script>
    $(document).ready(function () {
        $("#searchInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#dataTable tbody tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
            });
        });
    });
</script>
<script>
    $(document).ready(function () {
        $('#dataTable').DataTable({
            "order": [[0, "desc"]] // Ordena por la primera columna (Fecha) de forma descendente
        });
    });
</script>*@




<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>