@model GestionCentroMedico.Models.Cliente

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CliNombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CliNombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CliApellido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CliApellido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CliEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CliEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MedId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MedId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MutId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MutId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CliActivo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CliActivo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CliId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
