@model IEnumerable<GestionCentroMedico.Models.Cliente>

@{
    ViewData["Title"] = "Index";
}

<h1>Clientes</h1>

<p>
    <a asp-action="Create">Crear nuevo cliente</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Apellido
            </th>
            <th>
                Email
            </th>
            <th>
                Medico de cabecera
            </th>
            <th>
                Mutual
            </th>
            <th>
                Activo
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CliNombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CliApellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CliEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MedId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MutId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CliActivo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CliId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.CliId">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.CliId">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
